header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding:2rem 9%;
    background-color: var(--bg-color);
    z-index: 120;
}



header.sticky{
    border-bottom: .1rem solid rgba(0,0,0,0.2); ;
    
}

@media (max-width: 991px) {
    header{
        padding: 2rem 3%;   
       
    }
}